* {
    box-sizing: border-box;
}

.App {
    background-color: #292c35;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #65dcfd;
}

.appItem {
    border: 2px solid #65dcfd;
    width: 500px;
    height: 350px;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.displayField {
    height: 50%;
    border: 2px solid #65dcfd;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsField {
    height: 30%;
    border: 2px solid #65dcfd;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}