.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    align-items: center;
}

.settings input {
    width: 150px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid #65dcfd;
}

.settings div {
    margin: 5px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}